
h1 {border: black solid 3px; float:center;color: #48D1CC;}

body {background-color: #99CCCC; font-family: Georgia; font-size: 18px; border: black solid 5px;}

#sidebar {float: left; position: relative; top:200px; bottom:0; left:0; width: 75px; background: none; font-size: 18px;}

.turn_green:hover {color:#5F9EA0;}

footer {float: left; bottom:0; right:0; position:fixed; right:5px;}

div h4 {

	background: #fff; 
	border: 6px solid #ccc;
	height: 200px;
	margin: 20px;
	padding: 20px;
	width:400px;
	float: center;
}

ul {float: center;}