
h1 {font-size: 50px; font-family: Georgia; color: #48D1CC;}
body {background-color: #4682B4; font-family: Georgia; font-size: 18px; border: black solid 5px;}


ul {
	position: relative;
	left: 10px;
}
ul li{
	position: relative;
	left: 10px;
}
ul img{
	position: relative;
	left: 10px;

}
ol li {position: relative;
	float:right
	top: 300px;
}
ol img{position: relative;
	float:right
	top:500px;
}

ol {float: right;
	position: relative;
	top:800px;
}
#Adventures {float: right;
position:relative;}

.turn_green:hover {color:#009933;}

footer {float: left; bottom:0; right:0; position:fixed; right:;}

div {

	background: #fff; 
	border: 6px solid #ccc;
	height: 200px;
	margin: 20px;
	padding: 20px;
	width:400px;
}