
body h1 {text-align: center; font-size: 50px; font-family: Georgia; color: black;}
body {background-color: #99CCCC; font-family: Georgia; font-size: 18px; border: black solid 5px;}

body div .turn_green:hover {color:#99CCCC;}

#me {position: absolute;
 top: 125px; 
 left:725px;}


footer {float: left; bottom:0; right:0; position:fixed; right:5px;}

div {
	
	background: #fff; 
	border: 6px solid #ccc;
	height: 250px;
	margin: 20px;
	padding: 20px;
	width:300px;
	text-align: center;
}

ul {float: center;}