body {
	text-align: center; 
	background-color: #99CCCC; 
	font-family: Georgia; 
	font-size: 18px; 
	border: black solid 5px;

}

div .tb {
	opacity: 0.4;
	position:absolute;
	width:100%;
	height:100%;
	top:0
	left:5px;
	z-index:-5000;
	
}

nav {
	border:1px black solid;
}